::-webkit-scrollbar {
	width:8px;
	height:6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece{
	background-color: #fff;
}

::-webkit-scrollbar-thumb{
	background-color:#ccc;
	width:8px;
	height:4px;
}

body {
    height: 100%;
    overflow: hidden;
}